.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  /* background: rgba(228, 57, 57, 0.55); */
  height: 80px;
  padding: 20px;
  color: white;

}

#infobar {
  /* width: 420px; */
  transform: translateX(5px);
  transition: transform ease-in 10000ms;
}
#infobar.slideIn {
  transform: translateX(100%);
}
#infobar.slideOut {
  transform: translateX(50px);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
